#![enable(implicit_some)]
Container(
    transform: (
        width: 500.,
        height: 500.,
    ),
    children: [
    Label(
        transform: (
            width: 400,
            height: 400,
        ),
        text: (
            text: "Test",
            font_size: 20.,
            color: (1.,1.,1.,1.),
        )
    )
    ],
)

