#![enable(implicit_some)]
(
    entities: [
        (
            data: (
                graphics: (
                    mesh: Shape((
                        shape: Cube,
                    )),
                    material: (
                        albedo: Generate(Srgba(0.23,0.67,0.89,1.0)),
                    ),
                ),
                transform:()
            )
        )
    ]
)
